@use "../../styles/variables" as *;

.popover {
  position: relative;
  display: inline-block;

  &__trigger {
    cursor: pointer;
    &:hover {
      background-color: $select-color;
    }
  }

  &__items {
    position: absolute;
    padding: 3px;
    min-width: 150px;
    background: white;
    border-radius: 5px;
    border: 1px solid #e0e0e0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    &--top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 8px;
    }

    &--bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 8px;
    }

    &--left {
      top: 50%;
      right: 110%;
      transform: translateY(-50%);
      margin-right: 8px;
    }

    &--right {
      top: 0;
      left: 115%;
      margin-left: 8px;
    }
  }

  &__item {
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    color: $text-color;

    &:hover {
      background-color: $select-color;
    }

    &-icon {
      display: flex;
      width: 20px;
      height: 20px;
      align-items: center;
    }
  }
}
