@use "../../styles/variables" as *;

.popover {
  position: relative;
  display: inline-block;

  &__trigger {
    cursor: pointer;
    &:hover {
      background-color: $select-color;
    }
  }

  &__items {
    position: absolute;
    min-width: 150px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;

    // Базовое позиционирование
    &--top {
      bottom: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 8px;
    }

    &--bottom {
      top: 100%;
      left: 50%;
      transform: translateX(-50%);
      margin-top: 8px;
    }

    &--left {
      top: 50%;
      right: 100%;
      transform: translateY(-50%);
      margin-right: 8px;
    }

    &--right {
      top: 50%;
      left: 100%;
      transform: translateY(-50%);
      margin-left: 8px;
    }
  }

  &__item {
    padding: 8px 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;

    &:hover {
      background-color: #f5f5f5;
    }

    &-icon {
      display: flex;
      align-items: center;
    }
  }
}
