@use "../../styles/variables.scss" as *;
@use "sass:color";

.button {
  background-color: $primary-color;

  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  padding: 0.7rem 3rem;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: color.scale($primary-color, $lightness: 10%);
  }

  &.large {
    width: 100%;
  }

  &.gradient {
    @include button-gradient;
  }
}
