@use "../../styles/variables.scss" as *;
@use "sass:color";

.button {
  @include button-gradient;
  background-position: 100% 0;
  background-size: 300% 100%;
  transition: background-position 0.3s ease;

  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  width: 100%;
  cursor: pointer;
  border: none;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-position: 0 0;
  }
}
