@use "../../../shared/styles/variables.scss" as *;

.avatar {
  border-radius: 0.35rem;
  display: flex;
  padding: 0.8rem;
  align-items: center;
  justify-content: center;
  background-color: $select-color;

  &--small {
    padding: 0.4rem;
    font-size: $xx-small-font;
    color: white;
  }

  &--medium {
    font-size: $small-font;
    padding: 0.5rem;
    color: white;
  }

  &--large {
    font-size: $small-font;
    padding: 0.8rem;
    color: white;
  }

  &__initials {
    color: $text-color;
  }
}
