@use "../../styles/variables.scss" as *;

.input {
  width: 100%;
  padding: 0.8rem 0.5rem;
  transition: 0.2s;
  box-sizing: border-box;
  border: none;
  font-size: 14px;
  background-color: white;
  opacity: 0.8;

  ::placeholder {
    color: black;
  }

  &:hover {
    opacity: 1;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px white inset !important;
    -webkit-text-fill-color: inherit !important;
    transition: background-color 5000s ease-in-out 0s;
  }

  &--filled {
    background-color: $select-color;
    border-radius: 15px;
    color: black;
    ::placeholder {
      color: black;
    }
  }

  &:focus {
    border-color: $primary-color;
    outline: none;
    opacity: 1;
  }
}

.input-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 0 0.3rem;
  border: none;
  box-sizing: border-box;
  border-radius: 10px;
  background: white;
  width: 100%;
  transition: 0.2s;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }

  &:focus-within {
    transition: 0.2s ease-in-out;
    opacity: 1;
    svg:not(.input-wrapper__button svg) {
      color: $primary-color;
      opacity: 1;
      transition: all 0.3s ease-in-out;
    }
  }

  &.--filled {
    background-color: $select-color;
    border-radius: 15px;
    z-index: 999;
    color: black;
    .input {
      background-color: transparent !important;
    }
  }

  &.--only-icon {
    width: 40px;
    height: 40px;
    padding: 0;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;

    &.--disabled {
      cursor: not-allowed;
      opacity: 0.5;
    }

    .input {
      display: none !important;
    }

    .standalone-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      svg {
        width: 20px;
        height: 20px;
      }
    }
    .input-loader {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }

    &.loading {
      .standalone-icon {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &__button {
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    margin-left: 0.5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    svg {
      color: #666;
      opacity: 0.7;

      &:hover {
        opacity: 1;
      }
    }
  }
}

.input-icon {
  position: absolute;
  color: #666;
  font-size: 16px;
  pointer-events: none;
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  top: 50%;
  transform: translateY(-50%);

  &-left {
    left: 10px;
  }

  &-right {
    right: 10px;
  }
}

input.has-icon {
  &.icon-left {
    padding-left: 2rem;
  }

  &.icon-right {
    padding-right: 2rem;
  }
}

.standalone-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
