@use "../../../shared/styles/variables.scss" as *;

.skeleton {
  width: 100%;
  height: 100%;
  background-color: $select-color;
  border-radius: 0.35rem;

  &--small {
    width: 100%;
    height: 100px;
  }
  &--medium {
    width: 100%;
    height: 200px;
  }
  &--large {
    width: 100%;
    height: 300px;
  }
}
