.skeleton {
  width: 100%;
  height: 100%;
  background-color: #f0f0f0;
  &--small {
    width: 100%;
    height: 100px;
  }
  &--medium {
    width: 100%;
    height: 200px;
  }
  &--large {
    width: 100%;
    height: 300px;
  }
}
