$primary-color: #6788f3;
$display-color: #a6acbe;
$primary-color-hover: #4d72d3;
$secondary-color: #f4f4f6;
$loader-color: #000;

$large-font: 24px;
$medium-font: 20px;
$small-font: 18px;
$x-small-font: 16px;
$xx-small-font: 14px;

@mixin button-gradient {
  background: linear-gradient(
    to right,
    rgba($primary-color, 0.4),
    rgba($primary-color, 0.8),
    rgba($primary-color, 0.4)
  );
}

@mixin button-gradient-hover {
  transition: background 0.3s ease;
  background: linear-gradient(
    to right,
    rgba($primary-color, 0.3),
    rgba($primary-color, 0.6),
    rgba($primary-color, 0.3)
  );
}
