$primary-color: #6788f3;
$display-color: #a6acbe;
$primary-color-hover: #4d72d3;
$secondary-color: #f4f4f6;

$large-font: 24px;
$medium-font: 20px;
$small-font: 18px;
$x-small-font: 16px;
$xx-small-font: 14px;
