@use "../../styles/variables.scss" as *;

.toggle {
  background: none;
  border: 0.2px solid $border-color;
  border-radius: 4px;
  padding: 12px 15px;
  cursor: pointer;
  color: black;
  font-size: $x-small-font;
  transition: all 0.2s ease;

  &:hover {
    border: 1px solid black;
  }

  &.active {
    background: #6788f3;
    color: white;
    &:hover {
      border: 1px solid $display-color;
    }
  }
}
