@use "../../../../shared/styles/variables.scss" as *;

.work-space-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 58px;
  justify-content: center;
  width: $sidebar-expanded-width;
  border-right: 1px solid $border-color;
}
