@use "../../../../shared/styles/variables.scss" as *;

.board-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 10px;

  &__content {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
    &__title {
      font-size: 0.9rem;
      font-weight: 500;
      color: $text-color;
    }
  }
  &__actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    &__icon {
      cursor: pointer;
      color: $text-color;
      width: 20px;
      height: 20px;
      &:hover {
        color: $primary-color;
      }
      &--active {
        color: $primary-color;
      }
    }
  }
}
