@use "../../../shared/styles/variables.scss" as *;

.header {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: white;
  height: $header-height;
  z-index: 999;
  border-bottom: 1px solid $border-color;
}
